/* Global Styles */

.content-wrapper {
  padding: 1.5rem 1.5rem;
  max-width: 100%;
  margin: 0 auto;
}

/* Responsivo */
@media (max-width: 768px) {
  .content-wrapper {
    padding: 1rem 1rem;
  }
}
